@use 'sass:math';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --measure: 60ch;
  --color-bg: #fff;
  --color-bg-offset: #f7f7f9;
  --color-text: #373a3c;
  --color-text-offset: #818a91;
  --color-border: #eceeef;
  --color-primary: #ff335f;
  --color-primary-transparent: #ff335f33;
  --color-primary-text: #f7f7f9;
  --color-primary-offset: #ff1447;
  --color-secondary: #43a9a3;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Ubuntu', sans-serif;
  --font-weight: 300;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 1.825rem;
  font-weight: 300;
}

p {
  line-height: 1.625rem;
}

* {
  max-width: var(--measure);
}

html {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

body {
  background-image: linear-gradient(to right, #fafafa, #f5f5fa);

  color: #373a3c;
  font-size: 1rem * math.div(17, 16);
  -webkit-font-smoothing: antialiased;
}

html,
body,
div,
header,
nav,
main,
section,
details,
summary,
footer {
  max-width: none;
}

@media screen {
  a {
    color: var(--color-primary);
    text-decoration: none;
  }

  a:focus,
  a:hover {
    color: var(--color-primary-offset);
  }
}

em {
  font-style: unset;
}

details > summary:first-of-type {
  list-style: none;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.text-12 {
  font-size: 0.75rem;
}

.text-13 {
  font-size: 0.8125rem;
}

.text-14 {
  font-size: 0.875rem;
}

.text-15 {
  font-size: 0.9375rem;
}

.text-16 {
  font-size: 1rem;
}

.text-17 {
  font-size: 1.0625rem;
}

.text-18 {
  font-size: 1.125rem;
}

.text-24 {
  font-size: 1.5rem;
}

.text-28 {
  font-size: 1.825rem;
}

.text-64 {
  font-size: 4rem;
}

.leading-11 {
  line-height: 3rem;
}

.min-vh-100 {
  min-height: 100vh;
}
